*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}
.topbar{
height:70px;
background:black;
display:flex;
align-items:center;
gap:20px;
padding:0 20px;
position:fixed;
top:0;
left:0;
right:0;
z-index:500;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.search{
  width: 100%;
padding:10px;
border-radius:20px;
border:1px solid #ccc;
padding-left: 40px;
}
.searchbox{
   width: 100%;
   position: relative;
}
.searchicon{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 20px;
}
.searchbar{
  background-color: #fff;
  margin-left: 30px;
  border-radius: 25px;
  padding: 5px;
}
.searchbar::placeholder{
  color: black;
  margin-left: 10px;
}
.searchbar:focus{
  border: 2px solid rgb(67, 158, 243);
}
.searchbtn{
  padding: 2px 5px;
  border-radius: 25px;
}







@media(min-width:1200px){
.menuBtn{
  display:none;
}
.topbar{
  left:260px;
}

}
