
.taskcontent{
    width: 100%;
     background-color: #1b2a4e;
}
.tasksubcontent{
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
    padding:50px 0;
   
}
.tasksubcontent h1{
    text-align: start;
    font-weight: 700;
     color: #fff;
     margin-bottom: 15px;
}
.tasksubcontent p{
    color: grey;
     margin-bottom: 30px;
      text-align: start;
}
.taskform{
    border: 1px solid rgb(54, 119, 193);
    background-color: rgb(45, 58, 109);
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    border-radius: 20px;

}
.taskform label{
 margin-bottom: 5px;
 margin-left: 0;
  display: block;
    text-align: left;
 text-align: start;
}
.taskform input{
    background-color:#fff;
    margin-bottom: 20px;
    /* color: #fff; */
}
.taskform textarea, .taskcontent select{
    background-color:#fff;
    margin-bottom: 20px;
}
.taskbtn{
    /* width: 60px; */
    padding: 10px;
    background-color: black;
    color: #fff;
    border-radius: 15px;
}
.alertError {
    background: #ffdddd;
    color: #d8000c;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}


@media(min-width:768px){

    .taskform{
        padding: 60px;
    }
    .taskform input, .taskform textarea, .taskcontent select{
    margin-bottom: 40px;
  
}


}